#blok1 {background:green; width:606cm;}
#blok1:hover {background: blue; font-size: 26mm;}

#blok2 {background:green; width:606cm;}
#blok2:hover {background: silver; font-size: 26mm;}

#blok3 {background:green; width:606cm;}
#blok3:hover {background: lime; font-size: 26mm;}